.hero-section{
    background: 
    linear-gradient(
      to bottom, 
      rgba(0, 0, 0, 0.45) 16.5%, 
      rgba(0, 0, 0, 0.37) 55%
    ),
    url('../assests/home-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5vh 10vw;
    @media screen and (max-width: 768px) {  
        flex-direction: column;
        justify-content: center;
        padding: 4vh ;
    }
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2vh;
    width: 50%;
    @media screen and (max-width: 768px) {  
        row-gap: 2vh;
        width: 80%;        
    }
}
.content h1{
    font-size: clamp(1.5rem, 3.5vw, 6rem);
    color: #ffffff;
    font-family: var(--thick-font);
}
.content p{
    font-size: clamp(10px, 12px, 16px);
    color: #ffffff;
    font-family: var(--inter-font);
    letter-spacing: 2px;
    line-height: 20px;
}
.hero-section .content .contactButton{
    width: max-content;
    border: none;
}

.form-in-hero-section{
    margin: 30vh 0 0 10vw;

    @media screen and (max-width: 768px) {
        display: none;
    }
}