.enquiry-page{
    position: relative;
    width: 100%;
    height: 80vh;
    background: 
    linear-gradient(
      to bottom, 
      rgba(0, 0, 0, 0.55) 16.5%, 
      rgba(0, 0, 0, 0.87) 55%
    ),
    url('../../public/assests/enquiry-bg.jpg');
      /* Set the rest of the background properties */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 0 10vw;
}
.enquiry-page h1{
    font-family: var(--thick-font); 
    font-weight: 700;
    font-size: clamp(1.5rem, 2.5vw, 3rem);
    padding: 2vh 0;
}
.enquiry-page .form-navigator:hover {
    animation: none;
}
.enquiry-page .form-navigator{
    display: grid;
    place-items: center;
    height: 80px;
    width: 80px;
    border-radius: 20px 0 20px 0;
    background: white;
    position: absolute;
    right: 4vw;
    bottom: 5vh;
    animation: up-down .6s ease infinite;
}
@keyframes up-down {
    0%{
        bottom: 5vh;
    }
    50%{
        bottom: 7vh;

    }
    100%{
        bottom: 5vh;
    }
}