
.get-in-touch {
  width: 100%;
  margin: 5% auto;
  display: flex;
  overflow-x: hidden;
}

.get-in-touch .content {
  width: 50%;
  font-family: var(--thick-font);
  padding: 5% 0 0 10%;
}

.get-in-touch .content span h5 {

  margin: 10% 0 2% 0;
}

.get-in-touch .content span li {
  cursor: pointer;
  text-decoration: underline;
  white-space: nowrap;
  color: #344054;
}

.get-in-touch .input {
  display: flex;
  flex-wrap: wrap;
}

.get-in-touch .input .input-content {
  width: 100%;
}

.get-in-touch .input .input-content h2 {
  font-size: calc(20px + 3vmin);
  font-family: var(--thick-font);
  margin-bottom: 2%;
}

.get-in-touch .input .input-content p {
  font-family: var(--inter-font);
  color: gray;
  margin-bottom: 10%;
}

.get-in-touch .input .full-input {
  margin: 0 5% 5% 0;
  width: 100%;
}
.get-in-touch .input .half-input {
  margin: 0 5% 5% 0;
  width: 50%;
}
.get-in-touch .input .full-input label {
  color: #344054;
  font-family: var(--thick-font);
  display: block;
  font-size: clamp(12px ,2vw, 18px);
  margin-bottom: 1%;
  width: 100%;
}

.get-in-touch .input .full-input input,
.get-in-touch .input .full-input textarea {
  border-radius: 5px;
  border: 1px solid #D0D5DD;
  padding: 2.3vh 1vw;
  width: 100%;
}

.get-in-touch .input .full-input input::placeholder,
.get-in-touch .input .full-input textarea::placeholder {
  color: #344054;
}

.get-in-touch .input .full-input:nth-child(4),
.get-in-touch .input .full-input:nth-child(5) {
  width: 100%;
}

p {
  font-family: var(--inter-font);
}

