.why-us{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #F5F9FB;
    display: flex;
    align-items: center;
    column-gap: 2vw;
    padding: 10vh 5vw;
    text-align: left;
    @media screen and (max-width: 700px) {
        flex-direction: column;
        height: 100%;
    }
}
.left-img{
    width: 45%;
}
.why-us-content{
    width: 50%;
    @media screen and (max-width: 700px) {
        /* display: flex; */
        width: 100%;
        align-items: center;
        column-gap: 2vw;
    }
}
.why-us-content .heading{
    text-align: left;
}
.why-us-content .heading .small-heading{
    justify-content: flex-start;
}
.choose-us-card{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    margin: 5vh 0;

}
.choose-us-card .card{
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: 7px 10px 8px 0px #00000005;
}
.choose-us-card .card .icon{
    width: 10%;
}

.choose-us-card .card:hover{
    background: #ffff;
    box-shadow: 0px 16px 24px 0px #6061701F;

}
